body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Your sidebar styles */
.Sidebar {
  width: 220x;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto; /* Allows scrolling if the content is taller than the sidebar */
}

/* Adjust the main content to create space for the fixed sidebar */
.main-content {
  margin-left: px; /* Adjust according to your sidebar width */

  width: 80%;
  text-align: center;
}



